html {
    text-align: center;
    background-color: rgb(255, 136, 0);
    font-family:'Courier New', Courier, monospace;
}

form {
    font-size: larger;
}

#name {
    width: 20rem;
    height: 2rem;
}

#rating {
    height: 2rem;
}

#review {
    width: 30rem;
    height: 5rem;
}